doctype html
head
  include head-padrao  
body(style='background-color:#F1F2F2')
  .wrapper
    .sidemenu
      .linha-tipo-1
        img
        .p-2.bold.f-4 nome usuário
      .linha-tipo-1
        img
        .ml-6 Meus pedidos
      .linha-tipo-1
        img
        .ml-6 Meu cadastro
      .divider
      div Categorias
      .linha-tipo-2
        .conteudo
          include svg/ic_child_care_black_18px.svg
          .ml-6 Bebês
        .arrow
          include svg/ic_arrow_drop_down_black_18px.svg
      .linha-tipo-2.selecionada
        .conteudo
          include svg/ic_child_care_black_18px.svg
          .ml-6 Bebês
        .arrow
          include svg/ic_arrow_drop_down_black_18px.svg
      .linha-tipo-3
        .bold Frango
      .linha-tipo-3
        div Frango
    .central
      h1 a
      h1 a
      h1 a
      h1 a
            h1 a
      h1 a
      h1 a
      h1 a
            h1 a
      h1 a
      h1 a
      h1 a
            h1 a
      h1 a
      h1 a
      h1 a
            h1 a
      h1 a
      h1 a
      h1 a
            h1 a
      h1 a
      h1 a
      h1 a
            h1 a
      h1 a
      h1 a
      h1 a
            h1 a
      h1 a
      h1 a
      h1 a
            h1 a
      h1 a
      h1 a
      h1 a
      
    .carrinho
      div b